<section data-ng-controller="ProductsCreateController as ccCtrl">

  <div class="modal-header">
    <h3 class="modal-title">New Product</h3>
  </div>
  <div class="modal-body">
    <form name="createProductForm">
      <fieldset>
        <div class="row">
          <div class="form-group">
            <div data-ng-show="error" class="text-center text-danger">
              <div class="alert alert-danger" role="alert">
                <strong data-ng-bind="error"></strong>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-user cust-profile"
               ng-class="{'text-primary': ccCtrl.referred, 'text-pink': !ccCtrl.referred}"></i>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="turbineModel">Turbine Model</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.turbineModel" id="turbineModel" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="manufacturer">Manufacturer</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.manufacturer" id="manufacturer" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="IECClass">IEC Class</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.IECClass" id="IECClass" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="generatorType">Generator Type</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.generatorType" id="generatorType" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group">
              <label class="control-label" for="driveType">Drive Type</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.driveType" id="driveType" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.email" id="email" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group">
              <label class="control-label" for="rotorSize">Rotor Size</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.rotorSize" id="rotorSize" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="hubHeights">Hub Heights</label>
              <div class="controls">
                <input type="text" data-ng-model="ccCtrl.hubHeights" id="hubHeights" class="form-control">
              </div>
            </div>
          </div>
<!--          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group ">
              <label class="control-label" for="referred">Referred</label>
              <div class="controls">
                <input type="checkbox" data-ng-model="ccCtrl.referred" id="referred" class="form-control checkbox-left">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="channel">Channel</label>
              <div class="controls">
                <select data-ng-model="ccCtrl.channel" id="channel" class="form-control"
                        ng-options="channel.id as channel.opt for channel in channelOptions">
                  <option value="">-- Select Channel --</option>
                </select>
              </div>
            </div>
          </div>-->
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-lg" ng-click="ccCtrl.create();ok(createProductForm.$valid)" ng-disabled="createProductForm.$invalid">Save & Close</button>
    <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
  </div>

</section>
